@model List<Assignment6.Models.BO.Submission>
@{
    ViewBag.Title = "AssignmentDetails";
    Layout = "~/Views/Shared/View1.cshtml";
}

<h2 align="center">Assignment Submissions and  Details</h2>


    
 @*@Html.ActionLink(d.DisplayName , "AssignmentDetails", "TeacherHome", new { id = d.AssignmentId }, d.AssignmentId);*@
<table class="tabStyle">
        <th style="padding-left:68px;">Solution
            </th>
        <th style="padding-left:68px;">Submission Time
            </th>
         @foreach(var d in Model)
         {
             <tr>
                 <td style="padding-left:68px;">
                  @Html.ActionLink(d.DisplayName , "Download", "TeacherHome", new { id = d.Id}, d.Id)
                     </td>
                 
             <td style="padding-left:68px;">@d.SubmissionTime</td></tr>
         }
  

</table>